@define-color base			#282828;
@define-color mantle		#18181f;
@define-color crust			#111118;

@define-color orange    #ff6a88;
@define-color teal      #00aa88;
@define-color cyan      #11cff8;

@define-color text      #efefef;
@define-color text1     #afafaf;

* {
}

@keyframes blink_alert {
  to {
    color: @red;
  }
}

window#waybar {
	background-color: transparent;
}

/*#window {*/
/*  background-color: rgba(0,0,0,0);*/
/*  transition-property: background-color;*/
/*  transition-duration: .5s;*/
/*  border-radius: 12px;*/
/*}*/

button {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
	box-shadow: none;
}

button:hover {
	box-shadow: none;
}


tooltip {
  font-family: FiraCode Nerd Font, sans-serif;
	color: @text;
	background-color: alpha(@mantle,0.6);
	font-size: 14px;
}

/* System Tray -------------------------------------------------- */
#tray {
	border-color: @mantle;
	color: @text;
	border: 2px;
	background-color: alpha(@crust,0.6);
  border-radius: 10px;
	margin: 8px 0px 8px 8px;
	padding: 0px 8px 0px 8px;
}

/* Workspace -------------------------------------------------- */
#workspaces {
  font-family: FiraCode Nerd Font, sans-serif;
  font-weight: 600;
  margin: 8px;
  border-radius: 10px;
  font-size: 10px;
  background-color: alpha(@crust,0.6);
}

#workspaces button {
  color: @text;
	border: 0px;
}

#workspaces button:first-child {
	padding-left: 10px;
}
#workspaces button:last-child {
	padding-right: 8px;
}

#workspaces button:hover {
	color: alpha(@cyan , 0.2);
	background: transparent;
	border: 0px transparent;
}

#workspaces button.active:hover {
  color: alpha(@cyan,0.2);
  background: transparent;
}

#workspaces button.active {
  color: @cyan
}

#workspaces button.urgent {
  color: @red;
}

/* Current Window Name -------------------------------------------------- */
#window {
  color: @text;
  border-radius: 10px;
  font-family: Noto Sans, sans-serif;
	font-weight: 600;
	font-size: 13px;
	background-color: @base;
	border: 1px;
	padding: 0px 10px 0px 10px;
	margin: 9px 0px 9px 0px;
}


window#waybar.empty #window {
    background-color: transparent;
}


/* Music player / Network / privacy / bluetooth  ----------------------------------- */
#mpris,
#network,
#privacy,
#bluetooth {
  color: @fg;
	padding: 8px 4px;
  border-radius: 10px;
  font-size: 12px;
  background-color: alpha(@crust,0.6);
}

#network,
#bluetooth {
	padding : 0px 12px 0px 12px;
	margin: 8px 8px 8px 0px;
  font-family: FiraCode Nerd Font, sans-serif;
  font-weight: 600;
	font-size: 12px;
}

#privacy {
	padding : 0px 8px 0px 8px;
	color: #000000;
	background-color: #ffffff;
	margin: 8px 0px 8px 8px;
}

#mpris {
	margin: 8px 8px;
  font-family: Noto Sans, sans-serif;
	font-weight: 500;
}

/* Utility -------------------------------------------------- */
#wireplumber,
#backlight,
#battery,
#clock,
#cpu,
#memory,
#temperature,
#lock {
  font-family: FiraCode Nerd Font, sans-serif;
  font-weight: 600;
  color: @text;
  margin: 8px 0px;
  padding: 8px 4px;
  background-color: alpha(@crust,0.6);
  font-size: 12px;
}

#wireplumber {
  border-radius: 10px  0px 0px 10px;
}

#clock {
  border-radius: 0px  10px 10px 0px;
  margin-right: 8px;
}


/* < bluetooth / battery / temperature / network > update ---------------------------- */
#battery.critical:not(.charging) {
  background-color: alpha(@crust,0.6);
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature.critical {
  color: @red;
}

#battery.charging, #battery.plugged {
  color: @blue;
}

#bluetooth.connected {
	color: @text;
	background-color: alpha(@crust,0.6);
}

#bluetooth.disabled,
#bluetooth.off,
#bluetooth.on {
	color: @red;
	background: alpha(@crust,0.6);
}

#network.disabled,
#network.disconnected {
	color: @red;
	background-color: alpha(@crust,0.6);
}
