

@define-color base   #303446;
@define-color mantle #292c3c;
@define-color crust  #232634;

@define-color text     #c6d0f5;
@define-color subtext0 #a5adce;
@define-color subtext1 #b5bfe2;

@define-color surface0 #414559;
@define-color surface1 #51576d;
@define-color surface2 #626880;

@define-color overlay0 #737994;
@define-color overlay1 #838ba7;
@define-color overlay2 #949cbb;

@define-color blue      #8caaee;
@define-color lavender  #babbf1;
@define-color sapphire  #85c1dc;
@define-color sky       #99d1db;
@define-color teal      #81c8be;
@define-color green     #a6d189;
@define-color yellow    #e5c890;
@define-color peach     #ef9f76;
@define-color maroon    #ea999c;
@define-color red       #e78284;
@define-color mauve     #ca9ee6;
@define-color pink      #f4b8e4;
@define-color flamingo  #eebebe;
@define-color rosewater #f2d5cf;

* {
    font-family: FiraCode Nerd Font, sans-serif;
    font-weight: 600;
}

@keyframes blink_alert {
    to {
        color: @red;
    }
}

window#waybar {
    background-color: shade(@mantle, 0.9);
    border: 2px solid alpha(@crust, 0.3);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 18px;
    margin: 4px;
}

button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Workspace -------------------------------------------------- */
#workspaces {
    margin: 8px;
    border-radius: 10px;
    font-size: 14px;
    background-color: @base;
}

#workspaces button {
    color: @text;
}

#workspaces button:hover {
    color: alpha(@yellow , 0.2);
    background: transparent;
    border-radius: 10px;

}

#workspaces button.active:hover {
    color: alpha(@blue,0.2);
    background: transparent;
    border-radius: 10px;
}

#workspaces button.active {
    color: @teal
}

#workspaces button.urgent {
    background-color: @red;
}

/* Window -------------------------------------------------- */
#window {
    color: @text;
}

window#waybar.empty #window {
    color: transparent;
}

/* Music player / Network ----------------------------------- */
#music,
#network {
    color: @text;
    margin: 8px 8px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    font-size: 12px;
    background-color: @base;
}


/* Utility -------------------------------------------------- */
#pulseaudio,
#backlight,
#battery,
#clock,
#cpu,
#memory,
#temperature,
#tray,
#lock{
    color: @text;
    margin: 8px 0px;
    padding: 8px 4px;
    background-color: @base;
    font-size: 12px;
}

#pulseaudio {
    border-radius: 10px  0px 0px 10px;
}

#clock {
    border-radius: 0px  10px 10px 0px;
    margin-right: 8px;
}

#battery.critical:not(.charging) {
    background-color: @base;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    background-color: @red;
}

#battery.charging, #battery.plugged {
    color: @green;
}

